<h1><%= @word.word %></h1>
<h3>Definition:</h3>

<ol>
  <% @word.definitions.each do |def_obj| %>
    <li><a href="/words/<%= @word.id %>/definitions/<%= def_obj.id %>"><%= def_obj.definition%></a></li>
  <% end %>
</ol><br>

<a href="/words/<%= @word.id %>/add_def" class="btn">Add a definition</a><br>
<a href="/words/<%= @word.id %>/edit" class="btn">Edit word</a><br>

<form action="/words/<%= @word.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete word</button>
</form><br>

<a href="/words" class="btn">Back</a><br>
<a href="/" class="btn">Home</a><br><br>
