<h1><%= @word.word %></h1>
<h3>Definition:</h3>

<ol>
<% @word.definitions.each do |def_obj| %>
  <li><%= def_obj.definition%></li>
  <% end %>
</ol><br>

<a href="/add_def/<%= @word.id %>" class="btn">Add a definition</a><br>
<a href="/edit_def/<%= @word.id %>" class="btn">Edit a definition</a><br>
<a href="/delete_def/<%= @word.id %>" class="btn">Delete a definition</a><br><br>
<a href="/" class="btn">Back</a><br><br>

 

